    #banner {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        width: 160px;
        height: 600px;
        position: absolute;
        cursor: pointer;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #000;
        opacity: 1;
        background-color: #fff;
    }
    
    .copy {
        font-size: 28px;
        /*font-weight:bold;*/
        letter-spacing: 0px;
        font-weight: 500;
    }
    
    #banner img,
    #banner div {
        border: none;
        position: absolute;
        opacity: 1;
        font-family: HelveticaLight, Helvetica, Arial, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Segoe UI, InfoText, Calibiri, Arial Unicode MS;
        font-weight: normal;
        /*font-family: "Arial", sans-serif;
        font-weight: bold;*/
        text-align: right;
    }
    

    #banner #FrameOne,  #banner #FrameTwo, #banner #FrameThree, #banner #FrameFour {
        opacity: 1;
        width: 100%;
        height: 100%;
        right: 0px;
    }
    
    #banner #FrameOne #FrameOneImage, #banner #FrameTwo #FrameTwoImage, #banner #FrameThree #FrameThreeImage, #banner #FrameFour #FrameFourImage {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        right: 0px;
    }
    
    #banner #FrameFour #FrameFourImage {
        /*background-color: #e86220;*/
        position: absolute;
        width: 100%;
        height: 100%;
    }


    #banner #copyFrameOne, #banner #copyFrameTwo, #banner #copyFrameThree, #banner #copyFrameFour {  
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            right: 0px;
    }

    #banner #copyFrameOne {   
        top: 48px;
        clip:rect(0px,300px,110px,0px);/* rect (top, right, bottom, left)*/
    }

    #banner #copyFrameTwo {   
        top: -56px;
        left:0px;
        clip:rect(110px,300px,210px,0px);/* rect (top, right, bottom, left)*/
    }

    #banner #copyFrameThree {   
        top: -162px;
        clip:rect(210px,300px,350px,0px);/* rect (top, right, bottom, left)*/
    }

    #banner #copyFrameFour {   
        top: -290px;
        clip:rect(350px,300px,460px,0px);/* rect (top, right, bottom, left)*/
    }

    #banner #copyFrameOne #copyFrameOnea, #banner #copyFrameTwo #copyFrameTwoa, #banner #copyFrameThree #copyFrameThreea  {
        position: absolute;
        opacity: 1;
        width: 100%;
        height: 100%;
        right: 0px;
    }

    #banner #copyFrameFour #copyFrameFoura  {
        position: absolute;
        opacity: 1;
        width: 100%;
        width: 1oo%;
        height: 100%;
        right: 0px;
    }

    #banner #worldLogo {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 9999;
        opacity: 0;
    }
    
    #banner #worldLogoTwo {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 9999;
        opacity: 0;
    }

    #banner #ctaImageRoll {
        position: absolute;
        bottom: 180px;
        /*left: 263px;*/
        height: 100%;
        left: 267px;
        z-index: 9999;
        opacity: 0; 
        clip:rect(450px,300px,530px,0px);/* rect (top, right, bottom, left)*/
    }
    
    #banner #ctaImage {
        position: absolute;
        bottom: 250px;
        height: 100%;
        left: 267px;;
        /*left: 263px;*/
        z-index: 9977;
        opacity: 0; 
        clip:rect(524px,300px,650px,0px);/* rect (top, right, bottom, left)*/
    }

    #banner #bgexit {
        opacity: 1;
        cursor: pointer;
        z-index: 9999;
        width: 100%;
        height: 100%;
    }